.wrapper {
    position: relative;
    margin-right: 24px;
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px;

    & > span {
        margin-left: 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #BFC5CA;
    }
}

.modal {
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-out;

    &_opened {
        transform: scaleY(1);
    }
}

.option {
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #BFC5CA;
    cursor: pointer;
    text-align: center;

    &:hover {
        background: #737373;
    }

    &_selected {
        color: #101010;

        &:hover {
            color: white;
        }
    }
}